
    <!-- Begin Header Top Area -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- Begin Header Top Left Area -->
                <div class="col-lg-3 col-md-4">
                    <div class="header-top-left">
                        <ul class="phone-wrap">
                            <li><span>Hotline:</span><a style="cursor: pointer" >0944970893</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Top Left Area End Here -->
                <!-- Begin Header Top Right Area -->
                <div class="col-lg-9 col-md-8">
                    <div class="header-top-right">
                        <ul class="ht-menu">
                            <!-- Begin Setting Area -->
                            <li>
                                <div class="ht-setting-trigger"><span>Quản Lý Tài Khoản</span></div>
                                <div class="setting ht-setting">
                                    <ul class="ht-setting-list" >
                                        {{if ne .Username "" }}
                                        <li><a href="checkout.html">Xin Chào {{.Username}}</a></li>
                                        <li><a style="cursor: pointer" onclick="dangxuat()" >Đăng Xuất</a></li>
                                        {{end}}
                                        {{if eq .Username  "" }}
                                        <li><a style="cursor: pointer" onclick="khungdangnhap()">Đăng Nhập Tài Khoản</a></li>
                                        <li><a href="../../dangnhap?#">Đăng Ký Tài Khoản</a></li>
                                        {{end}}
                                    </ul>
                                </div>
                            </li>
                            <!-- Setting Area End Here -->
                            <!-- Begin Currency Area -->
                            <li>
                                <span class="currency-selector-wrapper">Loại Tiền :</span>
                                <div class="ht-currency-trigger"><span>Việt Nam Đồng</span></div>
                                <div class="currency ht-currency">
                                    <ul class="ht-setting-list">
                                        <li><a style="cursor: pointer" >VNĐ</a></li>
                                      
                                    </ul>
                                </div>
                            </li>
                            <!-- Currency Area End Here -->
                            <!-- Begin Language Area -->
                            <li>
                                <span class="language-selector-wrapper">Ngôn Ngữ :</span>
                                <div class="ht-language-trigger"><span>Việt Nam</span></div>
                                <div class="language ht-language">
                                    <ul class="ht-setting-list">
                                        <li class="active"><a style="cursor: pointer" ><img src="https://image.flaticon.com/icons/svg/581/581047.svg" width="30px" height="50px" alt="">Việt Nam</a></li>
                                        
                                    </ul>
                                </div>
                            </li>
                            <!-- Language Area End Here -->
                        </ul>
                    </div>
                </div>
                <!-- Header Top Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Top Area End Here -->
    <!-- Begin Header Middle Area -->
    <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
        <div class="container">
            <div class="row">
                <!-- Begin Header Logo Area -->
                <div class="col-lg-3">
                    <div class="logo pb-sm-30 pb-xs-30">
                        <a href="index.html">
                            <img src="images/menu/logo/1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header Logo Area End Here -->
                <!-- Begin Header Middle Right Area -->
                <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                    <!-- Begin Header Middle Searchbox Area -->
                    <form action="../../loaisanpham" class="hm-searchbox" method="GET">
                        <select class="nice-select select-search-category" name="idloaisanpham"> 
                            <option value="0">All</option>   
                            {{range $i, $e := .Loaisanpham  }}                      
                            <option value="{{$e.Idloaisp}}">{{$e.Tenloaisanpham}}</option>    
                            {{end}}                 
                           
                        </select>
                        <input type="text" placeholder="Nhập Tên Sản Phẩm Cần Tìm Kiếm ..." name="q">
                        <button class="li-btn" type="submit" style="background-color: #e83e8c"><i class="fa fa-search"></i></button>
                    </form>
                    <!-- Header Middle Searchbox Area End Here -->
                    <!-- Begin Header Middle Right Area -->
                    <div class="header-middle-right">
                        <ul class="hm-menu">
                            <!-- Begin Header Middle Wishlist Area -->
                            <li class="hm-wishlist">
                                <a href="wishlist.html">
                                    <span class="cart-item-count wishlist-item-count">0</span>
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </li>
                            <!-- Header Middle Wishlist Area End Here -->
                            <!-- Begin Header Mini Cart Area -->
                            <li class="hm-minicart">
                                <div class="hm-minicart-trigger">
                                    <span class="item-icon"></span>
                                    <span class="item-text">Giỏ Hàng 
                                        <span class="cart-item-count" id='soluong'></span>
                                    </span>
                                </div>
                                <span></span>
                                <div class="minicart">
                                    <ul class="minicart-product-list">
                                       <div id="cartmini"></div>
                                    </ul>
                                    <p class="minicart-total"> <span></span></p>
                                    <div class="minicart-button">
                                        <a href="../../showcart" class="li-button li-button-fullwidth li-button-dark">
                                            <span>XEM GIỎ HÀNG</span>
                                        </a>
                                        <a href="../../thanhtoan" class="li-button li-button-fullwidth">
                                            <span>THANH TOÁN</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <!-- Header Mini Cart Area End Here -->
                        </ul>
                    </div>
                    <!-- Header Middle Right Area End Here -->
                </div>
                <!-- Header Middle Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Middle Area End Here -->
    <!-- Begin Header Bottom Area -->
    <div class="header-bottom header-sticky d-none d-lg-block d-xl-block" style="background-color: #e83e8c ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Begin Header Bottom Menu Area -->
                    <div class="hb-menu" >
                        <nav>
                            <ul>
                                <li class="dropdown-holder" ><a href="../../index" >Trang Chủ</a>
                                    <!-- <ul class="hb-dropdown">
                                        <li class="active"><a href="index.html">Home One</a></li>
                                        <li><a href="index-2.html">Home Two</a></li>
                                        <li><a href="index-3.html">Home Three</a></li>
                                        <li><a href="index-4.html">Home Four</a></li>
                                    </ul> -->
                                </li>
                                <li class="megamenu-holder"><a style="cursor: pointer">Shop</a>
                                    <ul class="megamenu hb-megamenu">
                                        <li><a href="shop-left-sidebar.html">Loại Sản Phẩm</a>
                                            <ul>
                                                    {{range $i, $e := .Loaisanpham  }}
                                                     {{ if le $i 5}}
                                                    <li><a href="../../loaisanpham?idloaisanpham={{$e.Idloaisp}}">{{$e.Tenloaisanpham}}</a></li>
                                                    {{end}}
                                                    {{end}}
                                            </ul>
                                        </li>
                                        <li><a href="single-product-gallery-left.html"></a>
                                            <ul>
                                                    {{range $i, $e := .Loaisanpham  }}
                                                    {{ if gt $i 5}}
                                                    {{ if le $i 12}}
                                                   <li><a href="../../loaisanpham?idloaisanpham={{$e.Idloaisp}}">{{$e.Tenloaisanpham}}</a></li>
                                                   {{end}}
                                                   {{end}}
                                                   {{end}}
                                               
                                            </ul>
                                        </li>
                                        <li><a href="single-product.html"></a>
                                            <ul>
                                                    {{range $i, $e := .Loaisanpham  }}
                                                    {{ if gt $i 11 }}
                                                   <li><a href="../../loaisanpham?idloaisanpham={{$e.Idloaisp}}">{{$e.Tenloaisanpham}}</a></li>
                                                   {{end}}
                                                   {{end}}
                                               
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html" >Thông Tin Về Chúng Tôi.</a></li>
                                <li style="margin-left: 0.1%"><a href="contact.html" > Liên Hệ</a></li>
                                <li style="left: 0.7%"><a href="shop-left-sidebar.html">Tài Khoản</a></li>
                                <li><a href="../../showcart">Giỏ Hàng</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Bottom Menu Area End Here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom Area End Here -->
    <!-- Begin Mobile Menu Area -->
    <div class="mobile-menu-area d-lg-none d-xl-none col-12">
        <div class="container"> 
            <div class="row">
                <div class="mobile-menu">
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area End Here -->
